  
  <div class="form_signin_flame">
    <span class="form_box_h1">欢迎回来</span>
    <div class="form_box_signin">
      <span class="form_box_h2">登录</span>
      <span class="form_back">或者  <%= link_to '创建账户', signup_path ,class: "form_back_font"%></span>
      <%= form_for(:session, url: sessions_path) do |f| %>
        <span class="form_input_font">用户名或邮箱</span>
        <%= f.text_field :email ,class: "form_input"%>
        <span class="form_input_font">密码</span>
        <%= f.password_field :password, class: "form_input" %>
        <%= f.submit '登录', class: "base_button form_signin_button"%>
      <% end %>
    <a href="#" class="forget_code">忘记密码？</a>
    </div>
    <div class="signup_other">
      <div class="other_box1">
        <%= image_tag 'fork.png', class: "other_icon"%>  
        <div class="other_box_word">
          <span class="other_box_h">自媒体平台</span>
          <span class="other_box_p">建立你的微项目供其他小伙伴们fork，打造属于你自己的的媒体。</span>
        </div>
      </div>
      <div class="other_box2">
        <%= image_tag 'foot.png', class: "other_icon"%>
        <div class="other_box_word">
          <span class="other_box_h">成就的记录</span>
          <span class="other_box_p">在这里留下你走向成功的每一个脚印，再回首，所有感动都被记录。</span>
        </div>
      </div>
      <div class="other_box3">
        <%= image_tag 'friends.png', class: "other_icon"%>
        <div class="other_box_word">
          <span class="other_box_h">认识新朋友</span>
          <span class="other_box_p">说出你的心得,分享你的心情，让你认识更多志同道合的朋友。</span>
        </div>
      </div>
        <span class="other_box4">Fdur,让你的生活更加丰富多彩,无论用手机、平板还是电脑。</span>
    </div>
  </div>
  <%= image_tag 'shadow.png' , class: "shadow_bottom"%>

