<dt data-flag='all'>
<% @milestones_undo.each do |m| %>
  <span class="milestones_undo state_<%= @project.is_public? ? "public" : "private" %>">
  <% if m.image.nil? %>
    <%= image_tag m.image ,style: 'width: 310px; max-height:500px; overflow:hidden;' %><br/>
  <% end %>
    <%= m.name %><br/>
    更新时间：
    <%= m.updated_at %>
    <%= link_to '', project_milestone_path(@project,m), method: :delete ,class: 'delete_milestone',data: { confirm: '确定删除？' },title: '删除' %>
    <%= link_to '', ajax_update_project_milestone_path(@project,m,state: 'doing'), remote: true, method: :post, class: 'undo_state',title: '开始' %>
    <a class="new_milestone" data-flag="+">heh</a>
    <div style="display: none">
    <%= form_for m,url: project_milestone_path(@project,m),remote: true do |f|%>
    <!--或者写成[@project, m]-->
      <%= f.text_field :name,id: 'edit_milestone_name' %>
      <%= f.text_field :image,id: 'edit_milestone_image' %>
      <%= f.submit 'Save' %>
    <% end %>
    </div>
  </span>
<% end %>

<% @milestones_doing.each do |m| %>
  <span class="milestones_doing">
  <% if m.image.nil? %>
    <%= image_tag m.image ,style: 'width: 310px; max-height:500px; overflow:hidden;' %><br/>
  <% end %>
    <%= m.name %><br/>
    感慨：
    <%= m.reflection %><br/>
    更新时间:
    <%= m.updated_at %>
    <%= link_to '', project_milestone_path(@project,m), method: :delete,class: 'doing_state_delete_milestone',data: { confirm: '确定删除？' },title: '删除' %>
    <%= link_to '', ajax_update_project_milestone_path(@project,m,state: 'finished'), remote: true, method: :post,class: 'doing_state',title: '完成' %>
  </span>
<% end %>

<% @milestones_finished.each do |m| %>
    <span class="milestones_finished">
    <% if m.image.nil? %>
      <%= image_tag m.image ,style: 'width: 310px; max-height:500px; overflow:hidden;' %><br/>
    <% end %>
    <%= m.name %><br/>
      感慨：
      <%= m.reflection %><br/>
      更新时间：
      <%= m.updated_at %>
      <%= link_to '', project_milestone_path(@project,m), method: :delete,class: 'delete_milestone',data: { confirm: '确定删除？' },title: '删除' %>
      <%= link_to '',ajax_update_project_milestone_path(@project,m,state: 'undo'), remote: true, method: :post, class: 'finished_state', data: { confirm: '这样做不会清空这个里程碑的感慨' },title: '改回未做状态' %>
  </span>
<% end %>
</dt>