
<dt class='milestone_flag' data-flag='undo'>
<% @milestones_undo.each do |m| %>
  <span class="milestones_undo state_<%= @project.is_public? ? "public" : "private" %>">
  <% unless m.image.blank? %>
    <%= image_tag 'icon/support-loading.gif', style: 'display:block ;width: 50px; padding: 10px; margin: 0' %>
    <%= image_tag m.image ,style: 'display: none; width: 310px; max-height:500px; overflow:hidden;', img_flag: 'loading' %><br/>
  <% end %>
    <b><%= m.name %></b><br/>
    更新时间：
    <%= m.updated_at.strftime("%y/%m/%d %X") %>
    <%= link_to '', project_milestone_path(@project,m), method: :delete ,class: 'delete_milestone',data: { confirm: '确定删除？' },title: '删除' %>
    <%= link_to '', ajax_update_project_milestone_path(@project,m,state: 'doing'), remote: true, method: :post, class: 'undo_state',title: '开始' %>
    <a onclick="toggle_div()" class="edit_milestone_button"></a>
    <div class='undo_form'>
    <%= form_for m,url: project_milestone_path(@project,m),remote: true do |f|%>
    <!--或者写成[@project, m]-->
      <dd>里程碑<br>
        <%= f.text_field :name, autocomplete: :off %>
      </dd>
      <dd>图片链接<br>
        <%= f.text_field :image, autocomplete: :off %>
      </dd>
      <dd>
        <%= f.submit 'Save', class: 'base_button' %>
      </dd>
    <% end %>
    </div>
      <script>
        function toggle_div(){
          var e = event.srcElement;
          $(e).next().slideToggle();
        }
      </script>
  </span>
<% end %>
</dt>

<dt class='milestone_flag' data-flag='doing'>
<% @milestones_doing.each do |m| %>
  <span class="milestones_doing">
  <% unless m.image.blank? %>
    <%= image_tag 'icon/support-loading.gif', style: 'display:block ;width: 50px; padding: 10px; margin: 0' %>
    <%= image_tag m.image ,style: 'display: none; width: 310px; max-height:500px; overflow:hidden;', img_flag: 'loading' %><br/>
  <% end %>
    <b><%= m.name %></b><br/>
    <% unless m.reflection.blank? %>
      <%= m.reflection %><br/>
    <% end %>
    更新时间:
    <%= m.updated_at.strftime("%y/%m/%d %X") %>
    <%= link_to '', project_milestone_path(@project,m), method: :delete,class: 'doing_state_delete_milestone',data: { confirm: '确定删除？' },title: '删除' %>
    <%= link_to '', ajax_update_project_milestone_path(@project,m,state: 'finished'), remote: true, method: :post,class: 'doing_state',title: '完成' %>
    <a onclick="toggle_div()" class="edit_milestone_button_black"></a>
    <div class='doing_form'>
      <%= form_for m,url: project_milestone_path(@project,m),remote: true do |f|%>
          <!--或者写成[@project, m]-->
          <dd>里程碑<br>
            <%= f.text_field :name, autocomplete: :off%>
          </dd>
          <dd>图片链接<br>
            <%= f.text_field :image, autocomplete: :off %>
          </dd>
          <dd>随笔<br>
            <%= f.text_area :reflection %>
          </dd>
          <dd>
            <%= f.submit 'Save', class: 'base_button' %>
          </dd>
      <% end %>
    </div>
  </span>
<% end %>
</dt>

<dt class='milestone_flag' data-flag='finished'>
<% @milestones_finished.each do |m| %>
  <% if m == @milestones_finished.last %>
    <span class="milestones_finished">
      <b><%= m.name %></b><br/>
      <% unless m.reflection.blank? %>
      <%= m.reflection %><br/>
    <% end %>
      更新时间：
      <%= m.updated_at.strftime("%y/%m/%d %X") %>
    </span>
  <% else %>
    <span class="milestones_finished">
    <% unless m.image.blank? %>
      <%= image_tag 'icon/support-loading.gif', style: 'display:block ;width: 50px; padding: 10px; margin: 0' %>
      <%= image_tag m.image ,style: 'display: none; width: 310px; max-height:500px; overflow:hidden;', img_flag: 'loading' %><br/>
    <% end %>
    <b><%= m.name %></b><br/>
    <% unless m.reflection.blank? %>
      <%= m.reflection %><br/>
    <% end %>
    更新时间：
    <%= m.updated_at.strftime("%y/%m/%d %X") %>
    <%= link_to '', project_milestone_path(@project,m), method: :delete,class: 'delete_milestone',data: { confirm: '确定删除？' },title: '删除' %>
    <%= link_to '',ajax_update_project_milestone_path(@project,m,state: 'undo'), remote: true, method: :post, class: 'finished_state',title: '改回未做状态' %>
    <a onclick="toggle_div()" class="edit_milestone_button"></a>
    <div class='finished_form'>
      <%= form_for m,url: project_milestone_path(@project,m),remote: true do |f|%>
          <!--或者写成[@project, m]-->
          <dd>里程碑<br>
            <%= f.text_field :name, autocomplete: :off %>
          </dd>
          <dd>图片链接<br>
            <%= f.text_field :image, autocomplete: :off %>
          </dd>
          <dd>随笔<br>
            <%= f.text_area :reflection %>
          </dd>
          <dd>
            <%= f.submit 'Save', class: 'base_button' %>
          </dd>
      <% end %>
    </div>
    </span>
  <% end %>
<% end %>
</dt>