<i id="page_flag" page-flag='users_show'></i>
<div class="user_detail" >
  <div class="milestones_first_line">我的个人信息 </div>
  <div style="padding: 20px;background-color: #FDFDFD">
    <% if @user.user_detail.avatar.nil? %>
      <%= image_tag 'icon/default_avatar.png',style: 'width: 160px;', onerror: 'showImgDelay(this,"default.jpg",2)'%>
    <% else %>
      <%= @user.user_detail.avatar %>
    <% end %>
    <br>
    <p style="font-weight: bold;font-size: 17px" ><%= @user.name %></p>
    <b>Email</b><br>
    <%= @user.email %> <br>
    <b>个人简介</b><br>
    <% if @user.user_detail.description.blank? %>
      <span>快来说点什么，让大家认识你吧</span>
    <% else %>
      <%= @user.user_detail.description %>
    <% end %>
  </div>
  <a class="base_button edit_user_detail" data-flag="+">编辑 +</a>
  <div class="new_milestone_form" >
    <%= form_for @user_detail, url: user_detail_path(@user_detail) do |f| %>
     <span>名号
        <%= f.text_field :name %>
     </span>
     <span>个人描述<br>
       <%= f.text_area :description %>
     </span>
    <%= f.submit %>
    <% end %>
  </div>
</div>