<%= form_for :project,url: projects_path,methode: :post do |f| %>
  <span>计划名</span>
  <%= f.text_field :name %><br/>
  <span>描述</span>
  <%= f.text_area :description %><br/>
  <%= f.radio_button :is_public, false, checked: true %>
  <%= f.lable :is_public, "private", value: 'true'%>
  <%= f.radio_button :is_public, true %>
  <%= f.lable :is_public, "public", value: 'false'%>
  <%= f.submit %>
<% end %>
