<div class="projects">
<ul>
  <li class="can_hover" data-flag="click_hidden">
    <div>
      <span class="new_project" onselectstart='return false'>
        <b>+</b>
        新的启程让生活更多彩
      </span>
    </div>
  </li>
  <li id="new_project_form" class="new_project" >
    <div style="border: 1px solid #cccccc">
      <%= form_for :project,url: projects_path,methode: :post do |f| %>
        <p>计划名</p><%= f.text_field :name, autocomplete: :off %>
        <p>图片链接<a href="<%= tips_path %>" class='image_helper' title="外链图片帮助" target="_blank"></a></p>
        <%= f.text_field :image, autocomplete: :off, data_flag: :image_address_text  %>
        <div id="default_tips">输入链接可以预览您的图片</div>
        <dt id="verify_image">
          <img id="my_image" src="" onerror="image_error_warnning()"/>
          <b id="warnning_words"></b>
        </dt>
        <p>描述</p><%= f.text_area :description %>
        <%= f.radio_button :is_public, 'false' ,style: "display: none"%>
        <%= f.label :is_public, "私有", value: 'false'%>
        <%= f.radio_button :is_public, 'true', checked: true ,style: "display: none"%>
        <%= f.label :is_public, "公开", value: 'true'%>
        <%= f.submit '保存' %>
        <input type='button' id="new_project_form_cancel" data-flag="click_cancel" value="取消"/>
      <% end %>
    </div>
  </li>
<% @projects.each_with_index do |project,index| %>
  <% if (index%3 == 2) %>
  <%= link_to project do %>
  <li class="can_hover">
    <div>
      <%= image_tag 'icon/support-loading.gif', style: 'display:block ;width: 50px; padding: 10px; margin: 0 auto' %>
      <% if project.image.blank? %>
        <%= image_tag 'default.jpg' ,style: 'display: none; width: 310px; max-height:500px; overflow:hidden;', img_flag: 'loading'%>
      <% else %>
        <%= image_tag project.image ,style: 'display: none; width: 310px; max-height:500px; overflow:hidden;', img_flag: 'loading' %>
      <% end %>
      <span class="project_span project_name <%= project.is_public ? 'state_public' : 'state_private' %>" ><%= project.name %></span><br/>
      <span class="project_span project_description" ><%= project.description %></span>
      <span class="project_span project_milestone">
        <% unless milestone_news(project).image.blank? %>
          <%= image_tag 'icon/support-loading.gif', style: 'display:block ;width: 50px; padding: 10px; margin: 0' %>
          <%= image_tag @milestones_news.image ,style: 'display: none; width: 100px; max-height:180px; overflow:hidden;', img_flag: 'loading' %><br/>
        <% end %>
        </b><%= @milestones_news.name %></b>
      </span>
    </div>
    <span class="project_span project_comments">comments<br/>comments</span>
  </li>
  <% end %>
  <% end %>
<% end %>
</ul>
<ul>
<% @projects.each_with_index do |project,index| %>
  <% if (index%3 == 0) %>
  <%= link_to project do %>
  <li class="can_hover">
    <div>
      <%= image_tag 'icon/support-loading.gif', style: 'display:block ;width: 50px; padding: 10px; margin: 0 auto' %>
      <% if project.image.blank? %>
        <%= image_tag 'default.jpg' ,style: 'display: none; width: 310px; max-height:500px; overflow:hidden;', img_flag: 'loading'%>
      <% else %>
        <%= image_tag project.image ,style: 'display: none; width: 310px; max-height:500px; overflow:hidden;', img_flag: 'loading' %>
      <% end %>
      <span class="project_span project_name <%= project.is_public ? 'state_public' : 'state_private' %>" ><%= project.name %></span><br/>
      <span class="project_span project_description" ><%= project.description %></span>
      <span class="project_span project_milestone">
        <% unless milestone_news(project).image.blank? %>
          <%= image_tag 'icon/support-loading.gif', style: 'display:block ;width: 50px; padding: 10px; margin: 0' %>
            <%= image_tag @milestones_news.image ,style: 'display: none; width: 100px; max-height:180px; overflow:hidden;', img_flag: 'loading' %><br/>
        <% end %>
        </b><%= @milestones_news.name %></b>
      </span>
    </div>
    <span class="project_span project_comments">comments<br/>comments</span>
  </li>
  <% end %>
  <% end %>
<% end %>
</ul>
<ul>
<% @projects.each_with_index do |project,index| %>
  <% if (index%3 == 1) %>
    <%= link_to project do %>
      <li class="can_hover">
        <div>
          <%= image_tag 'icon/support-loading.gif', style: 'display:block ;width: 50px; padding: 10px; margin: 0 auto' %>
          <% if project.image.blank?  %>
            <%= image_tag 'default.jpg' ,style: 'display: none; width: 310px; max-height:500px; overflow:hidden;', img_flag: 'loading'%>
          <% else %>
            <%= image_tag project.image ,style: 'display: none; width: 310px; max-height:500px; overflow:hidden;', img_flag: 'loading' %>
          <% end %>
          <span class="project_span project_name <%= project.is_public ? 'state_public' : 'state_private' %>" ><%= project.name %></span><br/>
          <span class="project_span project_description" ><%= project.description %></span>
          <span class="project_span project_milestone">
          <% unless milestone_news(project).image.blank? %>
            <%= image_tag 'icon/support-loading.gif', style: 'display:block ;width: 50px; padding: 10px; margin: 0' %>
            <%= image_tag @milestones_news.image ,style: 'display: none; width: 100px; max-height:180px; overflow:hidden;', img_flag: 'loading' %><br/>
          <% end %>
          </b><%= @milestones_news.name %></b>
      </span>
        </div>
        <span class="project_span project_comments">comments<br/>comments</span>
      </li>
    <% end %>
  <% end %>
<% end %>
</ul>

</div>

<script>
    function image_error_warnning(){
        var e = event.srcElement;
        if($(e).attr("src") != ""){
            $(e).next().html("您的图片链接可能不对，看看帮助?").css('color','#212121');
        }
    }
</script>
