
<%= form_for :project,url: projects_path,methode: :post,remote: true do |f| %>
  <div>
    <span>计划名</span>
      <%= f.text_field :name %><br/>
    <span>描述</span>
      <%= f.text_area :description %><br/>
    <span>图片链接</span>
    <%= f.text_field :image %><br/>
    <%= f.radio_button :is_public, 'false', checked: true %>
    <%= f.label :is_public, "private", value: 'false'%>
    <%= f.radio_button :is_public, 'true' %>
    <%= f.label :is_public, "public", value: 'true'%>
    <%= f.submit %>
  </div>
<% end %>

<div id="list">
  <%= render 'projects_list' %>
</div>
<br>

