<ul class="tips_container">
  <li class="tips_title_wrapper1">
    <span class="tips_title_h1">如何使用外链图片</span>
    <span class="tips_title_p"> 网上找到好看的图片想拿来用？复制网络图片的url粘贴到输入框，就可以正常显示了。（注：防盗链图片请勿使用)
    </span>
  </li>
  <li class="tips_title_wrapper1">
    <span class="tips_title_h1">使用自己的图片</span>
    <span class="tips_title_p"> 使用自己的靓照或者DIY图片？先将图片放到云相册，再复制图片的外链url来就能在米er显示了。
    </span>
  </li>
 <li class="tips_title_wrapper2">
   <span class="tips_title_h2">云相册外链图片使用示例</span>
 </li>
 <li class="tips_wrapper">
  <div class="tips_number">
    1
  </div>
  <div class="tips_content">
    <span class="tips_p">
     首先用你的百度帐号登陆
     <a href="http://xiangce.baidu.com/" class="tips_a">百度云相册</a>
     ，点击进入我的相册选项。
    </span>
    <%= image_tag 'tips/pic1.png', class: "tips_image"%>
  </div>
 </li>  
  <li class="tips_wrapper">
  <div class="tips_number">
    2
  </div>
  <div class="tips_content">
    <span class="tips_p">
    上传你所要添加的图片到相册。
    </span>
    <%= image_tag 'tips/pic2.png', class: "tips_image"%>
  </div>
 </li>  
  <li class="tips_wrapper">
  <div class="tips_number">
    3
  </div>
  <div class="tips_content">
    <span class="tips_p">
    接着点击进入你上传好的图片。
    </span>
    <%= image_tag 'tips/pic3.png', class: "tips_image"%>
  </div>
 </li>  
   <li class="tips_wrapper">
  <div class="tips_number">
    4
  </div>
  <div class="tips_content">
    <span class="tips_p">
      然后点击图片右下方的操作菜单，并且进入复制链接选项。
    </span>
    <%= image_tag 'tips/pic4.png', class: "tips_image"%>
  </div>
 </li>  
   <li class="tips_wrapper">
  <div class="tips_number">
    5
  </div>
  <div class="tips_content">
    <span class="tips_p">
      最后复制外链链接的地址，粘贴到你的项目图片链接处，即可以添加你所需要的图片。
    </span>
    <%= image_tag 'tips/pic5.png', class: "tips_image"%>
  </div>
 </li>  
 <li class="tips_title_wrapper1">
    <span class="tips_title_h1">注意事项</span>
    <span class="tips_title_p"> 
     <ul>
      <li>
        1.当你在添加图片，图片链接填写为空，或者链接格式不是正确的图片链接格式时，本站将为你提供默认的图片。
      </li>
      <li style="margin-top:30px;">
        2.除了百度云相册外，你还可以使用其他任何带有图片外链的相册，如网易云相册，360云相册。
      </li>
      </ul>
    </span>
  </li>
</ul> 

