<ul class="tips_container">
  <li class="tips_title_wrapper1">
    <span class="tips_title_h1">如何添加图片</span>
    <span class="tips_title_p"> 你在添加图片的时候，图片是不是不能够正确显示？这是因为本站只支持带有外链的图片（所谓图片外链是指通过引用别的网站(服务器)上的图片的URL在网页上直接显示图片，而不需给出图片的反向链接）。下面将以百度云相册为例，介绍如何正确的添加外链图片。
    </span>
  </li>
 <li class="tips_title_wrapper2">
   <span class="tips_title_h2">步骤/方法</span>
 </li>
 <li class="tips_wrapper">
  <div class="tips_number">
    1
  </div>
  <div class="tips_content">
    <span class="tips_p">
     首先用你的百度帐号登陆
     <a href="http://xiangce.baidu.com/" class="tips_a">百度云相册</a>
     ，点击进入我的相册选项。
    <span>
    <%= image_tag 'tips/pic1.png', class: "tips_image"%>
  </div>
 </li>  
  <li class="tips_wrapper">
  <div class="tips_number">
    2
  </div>
  <div class="tips_content">
    <span class="tips_p">
    上传你所要添加的图片到相册。
    <span>
    <%= image_tag 'tips/pic2.png', class: "tips_image"%>
  </div>
 </li>  
  <li class="tips_wrapper">
  <div class="tips_number">
    3
  </div>
  <div class="tips_content">
    <span class="tips_p">
    接着点击进入你上传好的图片。
    <span>
    <%= image_tag 'tips/pic3.png', class: "tips_image"%>
  </div>
 </li>  
   <li class="tips_wrapper">
  <div class="tips_number">
    4
  </div>
  <div class="tips_content">
    <span class="tips_p">
      然后点击图片右下方的操作菜单，并且进入复制链接选项。
    <span>
    <%= image_tag 'tips/pic4.png', class: "tips_image"%>
  </div>
 </li>  
   <li class="tips_wrapper">
  <div class="tips_number">
    5
  </div>
  <div class="tips_content">
    <span class="tips_p">
      最后复制外链链接的地址，粘贴到你的项目图片链接处，即可以添加你所需要的图片。
    <span>
    <%= image_tag 'tips/pic5.png', class: "tips_image"%>
  </div>
 </li>  
 <li class="tips_title_wrapper1">
    <span class="tips_title_h1">注意事项</span>
    <span class="tips_title_p"> 
     <ul>
      <li>
        1.当你在添加图片，图片链接填写为空，或者链接格式不是正确的图片链接格式时，本站将为你提供默认的图片。
      </li>
      <li style="margin-top:30px;">
        2.除了百度云相册外，你还可以使用其他任何带有图片外链的相册，如网易云相册，360云相册。
      </li>
      </ul>
    </span>
  </li>
</ul> 

