
<div class="wrapper">

  <ul id="sb-slider" class="sb-slider">
    <li>
      <a><%= image_tag 'slicebox/1.jpg', alt:'image1' %></a>
      <div class="sb-description">
        <h3>Creative Lifesaver</h3>
      </div>
    </li>
    <li>
      <a><%= image_tag 'slicebox/2.jpg', alt:'image2' %></a>
      <div class="sb-description">
        <h3>Honest Entertainer</h3>
      </div>
    </li>
    <li>
      <a><%= image_tag 'slicebox/3.jpg', alt:'image3' %></a>
      <div class="sb-description">
        <h3>Brave Astronaut</h3>
      </div>
    </li>
    <li>
      <a><%= image_tag 'slicebox/4.jpg', alt:'image4' %></a>
      <div class="sb-description">
        <h3>Affectionate Decision Maker</h3>
      </div>
    </li>
    <li>
      <a><%= image_tag 'slicebox/5.jpg', alt:'image5' %></a>
      <div class="sb-description">
        <h3>Faithful Investor</h3>
      </div>
    </li>
    <li>
      <a><%= image_tag 'slicebox/6.jpg', alt:'image6' %></a>
      <div class="sb-description">
        <h3>Groundbreaking Artist</h3>
      </div>
    </li>
    <li>
      <a><%= image_tag 'slicebox/7.jpg', alt:'image7' %></a>
      <div class="sb-description">
        <h3>Selfless Philantropist</h3>
      </div>
    </li>
  </ul>

  <div id="shadow" class="shadow"></div>

  <div id="nav-arrows" class="nav-arrows">
    <a href="#"><%= image_tag "icon/right.png", style: "margin-top: 130px" %></a>
    <a href="#"><%= image_tag "icon/left.png", style: "margin-top: 130px" %></a>
  </div>


</div><!-- /wrapper -->

<script type="text/javascript">
    $(function() {

        var Page = (function() {

            var $navArrows = $( '#nav-arrows' ).hide(),
                    $shadow = $( '#shadow' ).hide(),
                    slicebox = $( '#sb-slider' ).slicebox( {
                        onReady : function() {

                            $navArrows.show();
                            $shadow.show();

                        },
                        orientation : 'r',
                        cuboidsRandom : true
                    } ),

                    init = function() {

                        initEvents();

                    },
                    initEvents = function() {

                        // add navigation events
                        $navArrows.children( ':first' ).on( 'click', function() {

                            slicebox.next();
                            return false;

                        } );

                        $navArrows.children( ':last' ).on( 'click', function() {

                            slicebox.previous();
                            return false;

                        } );

                    };

            return { init : init };

        })();

        Page.init();

    });
</script>