<div class="background_pic_ac" >
  <%= image_tag 'boat_gaussian.jpg', style: 'width: 100%; min-width: 1200px; margin-top: 0px; z-index: 10' %>
</div>
<div class="slicebox">
  <%= render 'slicebox' %>
</div>
<i id="page_flag" page-flag='activities_index'></i>
<div class="projects">
  <ul>
  <% @activities.each_with_index do |a, index| %>
    <% if (index%3 == 0) %>
      <% project = a.project %>
      <li class="can_hover">
        <div>
        <%= link_to project do %>
          <%= image_tag 'icon/support-loading.gif', style: 'display:block ;width: 50px; padding: 10px; margin: 0 auto' %>
          <% if project.image.blank? %>
            <%= image_tag 'default.jpg' ,style: 'display: none; width: 310px; max-height:500px; overflow:hidden;', img_flag: 'loading'%>
          <% else %>
            <%= image_tag project.image ,style: 'display: none; width: 310px; max-height:500px; overflow:hidden;', img_flag: 'loading' %>
          <% end %>
        <% end %>
          <a href="<%= user_path project.user.id %>" class="project_user_detail" >
            <%= image_tag project.user.user_detail.avatar, style: 'display: inline-block; width: 40px; max-height: 40px; margin-right: 10px; text-align: center; vertical-align: middle;' %>
            <%= project.user.name %>
          </a>
        <%= link_to project do %>
          <span class="project_span project_name <%= project.is_public ? 'state_public' : 'state_private' %>" ><%= project.name %></span><br/>
          <span class="project_span project_description" ><%= project.description %></span>
          <span class="fork_and_follow">
            <%= image_tag 'icon/follow.png', style: 'margin-top: 8px;' %>
            <i><%= project.followed_count %></i>
            <%= image_tag 'icon/fork.png', style: 'margin-top: 8px;' %>
            <i><%= project.forks_count %></i>
          </span>
          <span class="project_span project_milestone">
          <% unless milestone_news(project).image.blank? %>
            <%= image_tag 'icon/support-loading.gif', style: 'display:block ;width: 50px; padding: 10px; margin: 0' %>
            <%= image_tag @milestones_news.image ,style: 'display: none; width: 100px; max-height:180px; overflow:hidden;', img_flag: 'loading' %><br/>
          <% end %>
          <b><%= @milestones_news.name %></b>
          <br><br>
          <b class="last_time">最近更新时间：<%= @milestones_news.created_at.strftime("%y/%m/%d %X") %></b>
          </span>
        <% end %>
        </div>
        <span class="project_span project_comments">
          <% if project.comments.blank? %>
              <span>暂无评论</span>
          <% else %>
            <% project.comments.order(:updated_at).limit(5).each do |c| %>
              <%= image_tag c.user.user_detail.avatar, style: 'display: inline-block; width: 22px; max-height: 22px;' %>
              <%= c.user.name %>
              <span>
                <%= c.content %>
              </span>
            <% end %>
          <% end %>
          <%= link_to '查看全部', project_path(project.id, comment: 1), class: 'preview_comment base_button' %>
        </span>
      </li>
    <% end %>
  <% end %>
  </ul>

  <ul>
    <% @activities.each_with_index do |a, index| %>
      <% if (index%3 == 1) %>
        <% project = a.project %>
        <li class="can_hover">
          <div>
            <%= link_to project do %>
              <%= image_tag 'icon/support-loading.gif', style: 'display:block ;width: 50px; padding: 10px; margin: 0 auto' %>
              <% if project.image.blank? %>
                <%= image_tag 'default.jpg' ,style: 'display: none; width: 310px; max-height:500px; overflow:hidden;', img_flag: 'loading'%>
              <% else %>
                <%= image_tag project.image ,style: 'display: none; width: 310px; max-height:500px; overflow:hidden;', img_flag: 'loading' %>
              <% end %>
            <% end %>
            <a href="<%= user_path project.user.id %>" class="project_user_detail" >
              <%= image_tag project.user.user_detail.avatar, style: 'display: inline-block; width: 40px; max-height: 40px; margin-right: 10px; text-align: center; vertical-align: middle;' %>
              <%= project.user.name %>
            </a>
            <%= link_to project do %>
              <span class="project_span project_name <%= project.is_public ? 'state_public' : 'state_private' %>" ><%= project.name %></span><br/>
              <span class="project_span project_description" ><%= project.description %></span>
              <span class="fork_and_follow">
                <%= image_tag 'icon/follow.png', style: 'margin-top: 8px;' %>
                <i><%= project.followed_count %></i>
                <%= image_tag 'icon/fork.png', style: 'margin-top: 8px;' %>
                <i><%= project.forks_count %></i>
              </span>
              <span class="project_span project_milestone">
              <% unless milestone_news(project).image.blank? %>
                <%= image_tag 'icon/support-loading.gif', style: 'display:block ;width: 50px; padding: 10px; margin: 0' %>
                    <%= image_tag @milestones_news.image ,style: 'display: none; width: 100px; max-height:180px; overflow:hidden;', img_flag: 'loading' %><br/>
              <% end %>
                <b><%= @milestones_news.name %></b>
              <br><br>
              <b class="last_time">最近更新时间：<%= @milestones_news.created_at.strftime("%y/%m/%d %X") %></b>
              </span>
            <% end %>
          </div>
          <span class="project_span project_comments">
          <% if project.comments.blank? %>
              <span>暂无评论</span>
          <% else %>
            <% project.comments.order(:updated_at).limit(5).each do |c| %>
              <%= image_tag c.user.user_detail.avatar, style: 'display: inline-block; width: 22px; max-height: 22px;' %>
              <%= c.user.name %>
              <span>
                <%= c.content %>
              </span>
            <% end %>
          <% end %>
          <%= link_to '查看全部', project_path(project.id, comment: 1), class: 'preview_comment base_button' %>
        </span>
        </li>
      <% end %>
    <% end %>
  </ul>

  <ul>
    <% @activities.each_with_index do |a, index| %>
      <% if (index%3 == 2) %>
        <% project = a.project %>
        <li class="can_hover">
          <div>
            <%= link_to project do %>
              <%= image_tag 'icon/support-loading.gif', style: 'display:block ;width: 50px; padding: 10px; margin: 0 auto' %>
              <% if project.image.blank? %>
                <%= image_tag 'default.jpg' ,style: 'display: none; width: 310px; max-height:500px; overflow:hidden;', img_flag: 'loading'%>
              <% else %>
                <%= image_tag project.image ,style: 'display: none; width: 310px; max-height:500px; overflow:hidden;', img_flag: 'loading' %>
              <% end %>
            <% end %>
            <a href="<%= user_path project.user.id %>" class="project_user_detail" >
              <%= image_tag project.user.user_detail.avatar, style: 'display: inline-block; width: 40px; max-height: 40px; margin-right: 10px; text-align: center; vertical-align: middle;' %>
              <%= project.user.name %>
            </a>
            <%= link_to project do %>
              <span class="project_span project_name <%= project.is_public ? 'state_public' : 'state_private' %>" ><%= project.name %></span><br/>
              <span class="project_span project_description" ><%= project.description %></span>
              <span class="fork_and_follow">
                <%= image_tag 'icon/follow.png', style: 'margin-top: 8px;' %>
                <i><%= project.followed_count %></i>
                <%= image_tag 'icon/fork.png', style: 'margin-top: 8px;' %>
                <i><%= project.forks_count %></i>
              </span>
              <span class="project_span project_milestone">
              <% unless milestone_news(project).image.blank? %>
                <%= image_tag 'icon/support-loading.gif', style: 'display:block ;width: 50px; padding: 10px; margin: 0' %>
                <%= image_tag @milestones_news.image ,style: 'display: none; width: 100px; max-height:180px; overflow:hidden;', img_flag: 'loading' %><br/>
              <% end %>
              <b><%= @milestones_news.name %></b>
              <br><br>
              <b class="last_time">最近更新时间：<%= @milestones_news.created_at.strftime("%y/%m/%d %X") %></b>
              </span>
            <% end %>
          </div>
          <span class="project_span project_comments">
          <% if project.comments.blank? %>
              <span>暂无评论</span>
          <% else %>
            <% project.comments.order(:updated_at).limit(5).each do |c| %>
              <%= image_tag c.user.user_detail.avatar, style: 'display: inline-block; width: 22px; max-height: 22px;' %>
              <%= c.user.name %>
              <span>
                <%= c.content %>
              </span>
            <% end %>
          <% end %>
          <%= link_to '查看全部', project_path(project.id, comment: 1), class: 'preview_comment base_button' %>
        </span>
        </li>
      <% end %>
    <% end %>
  </ul>


</div>
