<!DOCTYPE html>
<html>
<head>
  <title>Meal It</title>
  <meta name="renderer" content="webkit">
  <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="scaffold_overall">
<div class="scaffold_top"></div>
<div class="scaffold">
  <%= yield %>
</div>
<a id="gotop" href="#" title="回到顶部">
  <span>^</span>
</a>
<div class="scaffold_footer"></div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
