<!DOCTYPE html>
<html>
<head>
  <title>FdurLink</title>
  <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div>
    <div>
      <%= image_tag 'Fdur_1.jpg', class: "logo"%>
      <% if signed_in? %>
        <%= link_to "Sign out", signout_path, method:"delete"%>
      <% else %>
        <%= link_to "Sign in ",signin_path %>
      <% end %>
    </div>
  </div>
</header>
<div class="scaffold_overall">
<div class="scaffold_top"></div>
  <% flash.each do |key, value| %>
      <div id='flash_message' class="flash <%= key %>"><%= value %></div>
  <% end %>
<div class="scaffold">
  <%= yield %>
</div>
<div class="scaffold_footer"></div>
</div>
<footer></footer>
</body>
</html>
